<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MostrarCarrera</servlet-name>
        <servlet-class>carreraServlets.MostrarCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Segundo</servlet-name>
        <servlet-class>webServlets.Segundo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarCarrera</servlet-name>
        <servlet-class>carreraServlets.EliminarCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesion</servlet-name>
        <servlet-class>logIn.iniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>otraTarea.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnosEnCadaCarrera</servlet-name>
        <servlet-class>alumnoServlets.AlumnosEnCadaCarrera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuario</servlet-name>
        <servlet-class>logIn.RegistrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>iniciarSesionConJavaScript</servlet-name>
        <servlet-class>logIn.iniciarSesionConJavaScript</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MostrarCarrera</servlet-name>
        <url-pattern>/MostrarCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Segundo</servlet-name>
        <url-pattern>/Segundo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarCarrera</servlet-name>
        <url-pattern>/EliminarCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesion</servlet-name>
        <url-pattern>/iniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnosEnCadaCarrera</servlet-name>
        <url-pattern>/AlumnosEnCadaCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuario</servlet-name>
        <url-pattern>/RegistrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>iniciarSesionConJavaScript</servlet-name>
        <url-pattern>/iniciarSesionConJavaScript</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
