* {
    font-size: 100%;
    font-family: Roboto;
}


body {
    background: Lavender;
}


img {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px;
    width: 450px;
}

form {
    display: inline-block;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 1200px;
    padding: 1em;

}


form input {
    display: inline-block;
    background: #fff;
    border: 1px solid #9c9c9c;
    width: 150px;
}
form button {
    display: inline-block;
    background: lightgrey;
    padding: 0.7em;
    width: 150px;
    border: 0;
}

form button:hover {
    background: greenyellow;
}


label {
    padding: 0.5em 0.5em 0.5em 0;
}

input {
    display: inline-block;
    padding: 0.7em;
    margin-bottom: 0.5rem;
}
input:focus {
    outline: 3px solid gold;
}




