* {
    font-size: 100%;
    font-family: Roboto;
}


body {
    background: #e6ffe6;

}


img {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 5px;
    width: 450px;
}

form {
    text-align: left;
    width: 40%;
    display: block;
    padding: 1em;
    background: #e3b5a4;
    border: 1px solid #c1c1c1;
    margin: 2rem auto 0 auto;
    max-width: 1200px;
    padding: 1em;
    background:  #c6ecae;
}


form input {
    display: inline-table;
    background: #fff;
    border: 1px solid #9c9c9c;
    width: 150px;
}
input[type=text] {
    width: 100%;
    padding: 12px 15px;
    margin: 5px 0;
    box-sizing: border-box;
}
#user{
    width: 30%;
    padding: 12px 15px;
    margin: 5px 0;
    box-sizing: border-box;

}

input[type=number] {
    width: 25%;
    padding: 12px 15px;
    margin: 5px 0;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px 15px;
    margin: 5px 0;
    box-sizing: border-box;
}

table input[type="submit"] {
    display: block;
    margin: 0 auto;
    display: inline-table;
    color: coral;
    padding: 0.7em;
    width: 150px;
    border: 0;
    background-color: #e5f9e0;
    text-align:center;
}

form button:hover {
    background: tomato;
}


label {
    padding: 0.5em 0.5em 0.5em 0;
}

input {
    display: inline-block;
    padding: 0.7em;
    margin-bottom: 0.5rem;
}

input:focus {
    outline: 1.5px solid tomato;
}

select:focus {
    outline: 2.5px solid tomato;
}

table{
    margin: 0 0 0 0;
    width: 80%;
    margin-left:10%; 
    margin-right:10%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: table;
    background: #e5f9e0;
}

table td {
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #caffb9
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #40c9a2;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #035c41;
}

